linearmodels==6.1
matplotlib==3.8.0
numpy==2.2.0
pandas==2.2.3
python-dotenv==1.0.1
Requests==2.32.3
scikit_learn==1.2.2
selenium==3.141.0
SQLAlchemy==1.4.54
statsmodels==0.14.0
tqdm==4.66.5
transformers==4.45.1
